@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'open sans', Arial, sans-serif;
}

html {
  height: 100%;
  background:  #FFF;
  background: linear-gradient( #FFF, #eee);
  padding: .5em;
  padding-top: 0;
}

a {
  text-decoration: none;
}

img {
  display: none;
}

blockquote {
  margin: 1.5em .2em;
  padding: 0em 1em;
  font-size: 1.2em;
  border-left: 4px solid #ccc;
}

.flex-menu-item {
  margin-bottom: .5em;
  padding: .25em;
  color: #444;
}

.btn {
  padding: .75em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 480px) {

  header {
    margin-bottom: 6em;
  }

  img {
    display: flex;
    margin-right: 2em;
    margin-left: 4em;
    padding-top: 4em;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: .5em;
    padding-left: 1em;
  }

  .flex-body-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
    margin-left: 1em;
  }

  .flex-menu-item {
    align-items: baseline;
    margin-right: 1em;
    padding: .5em;
    margin-bottom: 0;
  }

  .btn {
    width: 100px;
    margin: 0 auto;
  }

}
