@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'open sans', Arial, sans-serif;
}

html {
  background:  #FFF;
  background: linear-gradient( #FFF, #eee);
  height: 100%;
}

header {
  /*margin-bottom: 8em;*/
}

body {
  margin: 0 auto;
  padding: 4em;
  padding-top: 2em;
}

a {
  text-decoration: none;
}

.flex-body-container, .flex-container {
  display: flex;
  /*align-items: baseline;*/
  /*padding-left: 1em;*/
  justify-content: space-between;
  /*align-items: center;*/
}

.flex-body-container {
  align-items: flex-start;
}

.flex-container {
  align-items: baseline;
}

.flex-menu-container {
  display: flex;
  align-items: baseline;
  /*padding-right: 2em;*/
}

.flex-menu-item {
  width: 100px;
  text-decoration: none;
  text-align: center;
  color: #444;
}

.flex-menu-logo {
  width: 200px;
  /*padding-left: 2em;*/
}

blockquote {
  font-size: 1.2em;
  border-left: 4px solid #ccc;
  margin: 1.5em .2em;
  padding: 0em 1em;
  line-height: 1.5em;
  color: #444;
  min-width: 360px;
}

img {
  margin-right: 2em;
}

.btn {
  background-color: #000;
  border-radius: 25px;
  padding: .75em;
  padding-left: 1em;
  padding-right: 1em;
  margin: .5em;
  color: #fff;
}

.scroll {
  width: 100px;
  text-align: center;
  text-decoration: none;
}

a.btn.scroll {
  display: block;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6em;
}

.flex-item {
  justify-content: space-between;
  flex-direction: row;
}

body {
    /*background-color: lightgreen;*/
}

@media only screen and (max-width: 480px) {
    body {
        /*background-color: lightblue;*/
        max-width: 480px;
        padding: 1em;
    }
    img {
      display: none;
    }
    .flex-container {
      padding: 0;
      margin: 0;
      flex-direction: column;
    }
    .flex-container, .flex-menu-item, .flex-menu-logo, .flex-container {
      /*width: 100%;*/
      /*text-align: center;*/
      /*flex-direction: column;
      justify-content: center;*/
      padding: .5em;
      padding-left: 0;
      height: 20%;
    }

    header.flex-container, header {
      margin: 0;
      padding: 0;
    }

    blockquote {
      margin: 0;
      padding: 1em;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 2em;
      max-width: 340px;
    }

    div.flex-menu-item.btn {
      margin-top: .5em;
      width: 100%;
    }

    .btn {
      width: 350px;
      text-decoration: none;
      color: #fff;
      padding: .5em;
    }

    nav.flex-container {
      margin: 0;
      padding: 0;
    }

    /*.flex-logo-container {
      padding: 0;
      margin: 0;
    }
    .flex-item-logo{
      padding-left: 1em;
    }*/
}

@media only screen and (max-width: 768px) {
    img {
      height: 300px;
      width: 300px;
    }
}
